.button {
    position: relative;
    width: 30px;
    height: 30px;
    border: none;
    padding: .2 $main-padding;
    overflow: hidden;
    background-color: transparent;
    border-radius: 50%;
    transition: box-shadow .2s;
    &:hover {
        cursor: pointer;
    }
    &:hover,
    &:active,
    &:focus {
        box-shadow: 0 0 5px -1px $main-fc;
    }
    &::before,
    &::after{
        position: absolute;
        top: 50%;
        left: 50%;
        transform-origin: left;
        transform: translate(-50%, -50%) rotate(-45deg);
        content: '';
        width: 40%;
        height: 2px;
        background-color: #fff;
        opacity: .7;
    }
    &::after {
        transform: translate(-50%, -50%) rotate(45deg);
    }
    &--next {
        &::before,
        &::after{
            transform-origin: right;
        }
    }
    &--add-task {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40%;
        margin-right: 10px;
        padding:  0 $main-padding/2;
        border-radius: 5px;
        background-color: $theme-color;
        color: blue;
        font-size: 1rem;
        &::before,
        &::after {
            content: none;
        }
        &:hover,
        &:focus,
        &:active {
            box-shadow: 0 0 10px 5px #fff;
        }
        &--newTask {
            margin-top: 10px;
            align-self: flex-end;
            &:hover,
            &:active,
            &:focus {
                box-shadow: 0 0 5px -1px $main-fc;
            }
        }
    }
    &--today {
        padding: 0;
        width: 60%;
        border-radius: 5px;
        margin-right: 10px;
        background-color: $theme-color;
        color: blue;
        font-size: .9rem;
        &::before,
        &::after {
            content: none;
        }
        &:hover,
        &:focus,
        &:active {
            box-shadow: 0 0 10px 5px #fff;
        }
    }
    &--close {
        position: absolute;
        top: 5px;
        right: 5px;
        border: 1px solid lighten($main-fc,40%);
        border-radius: 50%;
        background-color: #fff;
        &::before,
        &::after{
            transform-origin: center;
            width: 70%;
            background-color: lighten($main-fc,40%);
            opacity: 1;
        }
    }
    &__task{
        border: none;
        border-radius: 5px;
        transition: background-color .3s, color .3s;
        z-index: 0;
        &::before,
        &::after {
            content: none;
        }
        &:hover {
            color: $second-fc;
            background-color: blue;
        }
        &-box{
            display: flex;
            flex-wrap: nowrap;
            &--full {
                align-self: flex-end;
            }
        }
        &--done {
            color: green;    
        }
        &--delete {
            color: red;
        }
        &--edit {
            color: blue;
        }
    }
}

.select {
    margin-left: 5px;
    &__button {
        width: 100%;
        max-width: 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
       
    }
}