.day {
    position: relative;
    padding: $main-padding/2;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    box-shadow: -2px 2px 4px -2px $main-fc;
    transition: box-shadow .3s;
    &:hover {
        cursor: pointer;
        box-shadow: -2px 2px 4px -3px $main-fc;
    }
    &__box {
        display: grid;
        position: relative;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 20px repeat(auto-fit, minmax(60px, 60px));
        width: 100%;
        height: 570px;
        padding: $main-padding;
        gap: 5px;
        &::after {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            content: '';
            height: 1px;
            width: 95%;
            background-color: lighten($main-fc, 50%);
        }
    }
    &__isTask {
        &::before {
            content: '';
            position: absolute;
            top: 0; 
            right: 0;
            border-top: 15px solid transparent;
            border-left: 15px solid darken($theme-color, 22%);
            width: 0;
            box-shadow: -2px 1px 3px -2px $main-fc;
        }
        
    }
}

.today {
    color: $today-color;
    box-shadow: -2px 2px 4px -2px $today-color;
    &:hover,
    &:active,
    &:focus {
        box-shadow: -2px 2px 4px -3px $today-color;
    }
}

.sunday {
    color: $hollyday-color;
    box-shadow: -2px 2px 4px -2px $hollyday-color;
    &:hover,
    &:active,
    &:focus {
        box-shadow: -2px 2px 4px -3px $hollyday-color;
    }
}

.todayIsSunday {
    color: $today-color;
}

.blank {
    border: none;
    background-color: transparent;
    color: #ffffff;
    visibility: hidden;
}

