.dayTasks {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: $main-padding*2;
    overflow: auto;
    margin-top: 5px;
    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 1rem;
        list-style: none;
        color: $second-fc;
        width: 100%;
        &-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: lighten($second-bgc, 10%);
            width: 100%;
            margin-bottom: $main-padding/3;
            padding: $main-padding/2;
            &:hover {
                cursor: pointer;
            }
        }
    }
}