.navigation {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: $main-padding 0;
    background-color: $second-bgc;
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 $main-padding;
    }
    .select {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        &__display-span {
            font-family: monospace, sans-serif;
            font-size: 1rem;
            padding: $main-padding/2;
            color: #fff;
        }
    }
}