.newTask {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    background-color: $second-fc;
    border-radius: 5px;
    padding: $main-padding;
    box-shadow: 2px 2px 20px -8px $main-fc;
    z-index: 1;
    &__form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: $main-fc;
        margin-top: 35px;
        & * {
            font-size: 1rem;
            margin-bottom: 5px;
            border: none;
            border-radius: 5px;
            padding: $main-padding/2;
        }
        #date,
        #title,
        #content,
        label[for="priority"] {
            width: 100%;
            box-shadow: 1px 1px  8px -4px $main-fc;
        }

        label[for="priority"] {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        input[type="checkbox"] {
            position: relative;
            top: 50%;
            right: 2px;
            transform: translateY(20%);
        }

        #date,
        label[for="priority"] {
            &:hover {
                cursor: pointer;
            }
        }
    }
}

.priority {
    color: red;
}

.done {
    opacity: .7;
    box-shadow: inset 0 0 20px -1px green;
}