//colors
$main-fc: #333;
$second-fc: #fff;
$second-bgc: blue;
$hollyday-color: lighten(red, 20%);
$today-color: darken(lightgreen, 30%);
$theme-color: lighten(yellow, 20%);

//sizing
$main-padding: 10px;
$main-fz: 10px;