//colors
$main-fc: #333;
$second-fc: #fff;
$second-bgc: blue;
$hollyday-color: lighten(red, 20%);
$today-color: darken(lightgreen, 30%);
$theme-color: lighten(yellow, 20%);

//sizing
$main-padding: 10px;
$main-fz: 10px;

$breakpoints: (
    xsmall:(min-width:460px),
    small:(min-width:640px),
    medium:(min-width:800px),
    large:(min-width:1024px),
    xlarge:(min-width:1200px),
    xxlarge:(min-width:1440px),
);